<body>
    <div id="post-container">
        <div id="photo-container">
            <div id="post-title" class="image-title">{{currentPost.title}}</div>
            <div id="post-info">
                <p id="posted-user"><span class="form-label">Posted by: </span><span
                        id="post-author">{{currentPost.username}}</p>
                <p id="posted-time"><span class="form-label">Posted at: </span><span
                        id="post-date">{{currentPost.created}}</p>
            </div>
            <div id="post-description" class="lead">{{currentPost.description}}</div>
            <img id="post-image" src="/{{currentPost.photopath}}" alt="Photo Missing">
        </div>

        <div id="comment-container">
            <div id="messages">
                    {{#each currentPost.comments}}
                    {{> comment this}}
                    {{/each}}
            </div>
            <div id="comment-box">
                <textarea id="comment-box-text" placeholder="enter comment here"></textarea>
                <button type="button" id="comment-box-button">Submit</button>
            </div>
        </div>
    </div>
</body>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    })

    function addMessage(data) {
        let template = document.createElement('template');
        template.innerHTML = `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>`;
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }


    document.getElementById('comment-box-button').onclick = (event) => {
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        document.getElementById('comment-box-text').value = '';
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
    }
</script>
</html>